<form>
  month:
  <input name="month" type="number">
  year:
  <input name="year" type="number">
  day:
  <input name="day" type="number">
  <button type="submit">Show me holidays</button>
</form>


<% @holidays.each do |holiday| %>
  <p>
    <%= holiday['name'] %>
  </p>
<% end %>
