<!doctype html>
<html>
  <head>
    <title>Best App Evr</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <blockquote>"Space Space Space Space" - Steve Jobs</blockquote>
          <img src="img/wow.jpg"/>
          <h3>space.</h3>
          <h2>SPAAAAAAAAACCCCCCCEEEEEE</h2>
          <h1>zooooooooommmm</h1>
        </div>
        <div class="col-md-6 col-xs-12">
          <p>anaerobic, hop back secondary fermentation aerobic brewing aau. autolysis primary fermentation fermentation sparge sour/acidic hops keg dunkle. original gravity finishing hops hefe. brewing enzymes bock autolysis bock. bittering hops barleywine, "aau lauter tun." hand pump; aroma hops, "aau enzymes."

microbrewery brewing anaerobic sour/acidic keg dry hopping dextrin secondary fermentation balthazar! pitch lauter adjunct, " black malt," final gravity shelf life additive ale. final gravity kolsch pitching balthazar. hoppy enzymes shelf life, wheat beer glass units of bitterness. degrees plato sparge bottle conditioning rims becher pitch, " bittering hops." cold filter; degrees plato enzymes ipa lambic, terminal gravity abbey brewing. ale trappist malt grainy cask conditioning real ale, cask conditioning balthazar cask conditioning brewhouse dextrin. grainy noble hops chocolate malt?

heat exchanger krausen malt brew pitching real ale kolsch. autolysis brewpub top-fermenting yeast imperial, heat exchanger hydrometer squares pilsner wort.

units of bitterness. gravity bung double bock/dopplebock, adjunct, bittering hops racking infusion? hard cider tulip glass carboy, " specific gravity secondary fermentation, cold filter, ibu grainy racking sparge." microbrewery all-malt hop back autolysis secondary fermentation, draft (draught) balthazar; racking. lager microbrewery wort chiller aerobic racking anaerobic ale microbrewery hoppy. alpha acid bittering hops mash craft beer; bright beer dunkle wort. acid rest saccharification; bottom fermenting yeast; pitching.

heat exchanger hydrometer, bittering hops bitter filter rims malt, grainy. bunghole aroma hops abbey beer lager draft (draught) bung attenuation! ester brew infusion!


Welcome to BeerIpsum.com.  Your malty deliciousness place for fresh random ipsum text.

Does your lorem ipsum text long for something a little more refreshing? Give our generator a try… it’s tastalicious!</p>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
